@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --body-bg: rgb(198, 191, 202);
    --header-footer: #9d9dbd;
    --header-h1: #444488;
    --grid: #fff;
    --footer-p: #444488;
    --container-menu-bg-color: violet;
    --borders: wheat;
    --buttons: #3498db;
}

body {
    background-color: var(--body-bg);
}

/* ------------------ header, footer ------------------*/

header,
footer {
    background-color: var(--header-footer);
    flex-basis: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--header-h1);
    font-size: 2.8rem;
    letter-spacing: 6px;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    color: var(--footer-p);
    font-size: 0.9rem;
    font-weight: bold;
}

/* ------------------ container ------------------*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.content-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.containers {
    border: thick solid var(--borders);
    border-radius: 10px;
}

/* .container-grid {
    background-color: var(--grid);
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 3;
    flex-direction: column;
    width: 500px;
    height: 500px;
    aspect-ratio: 1 / 1;
} */


.container-menu {
    background-color: var(--container-menu-bg-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    gap: 20px;
}

/* ------------------ menu ------------------*/

.grid-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    gap: 8px;
}

#slider {
    cursor: grab;
}

#color-picker {
    width: 50px;
    height: 35px;
    border: 3px solid var(--borders);
    border-radius: 5px;
    cursor: pointer;
}

.color {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn {
    background-color: var(--buttons);
    color: #fff;
    border: 0;
    border-radius: 9px;
    cursor: pointer;
    font-family: inherit;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid var(--borders);
}

.btn#rainbow {
    padding: 8px 20px;
}

.btn#reset {
    padding: 20px;
}

.remove-grid {
    display: flex;
    align-items: center;
    gap: 5px;
}

#remove-grid-check {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.container-menu p {
    font-family: inherit;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
}

.square {
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 3px solid black;
    width: 30px;
    height: 30px;
}