@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --body-bg: rgb(198, 191, 202);
    --header-footer: #9d9dbd;
    --header-h1: #444488;
    --grid: #fff;
    --footer-p: #444488;
    --container-menu-bg-color: violet;
    --borders: wheat;
    --buttons: #3498db;
}

body {
    background-color: var(--body-bg);
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}

/* ------------------ header ------------------*/

header {
    background-color: var(--header-footer);
    text-align: center;
    padding: 10px;
    top: 0;
    width: 100%;
    position: fixed;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--header-h1);
    font-size: 2.8rem;
    letter-spacing: 6px;
}

/* ------------------ footer ------------------*/

footer {
    background-color: var(--header-footer);
    text-align: center;
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    color: var(--footer-p);
    font-size: 0.9rem;
    font-weight: bold;
}

/* ------------------ container ------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 73px;
}


.containers {
    border: thick solid var(--borders);
    border-radius: 10px;
}

.container-grid {
    background-color: var(--grid);
    width: 400px;
    height: 400px;
}

.container-menu {
    background-color: var(--container-menu-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 750px;
    height: 100px;
}


/* ------------------ menu ------------------*/

.grid-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    gap: 8px;
}

#color-picker {
    width: 50px;
    height: 35px;
    border: 3px solid var(--borders);
    border-radius: 5px;
}

.color {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn {
    background-color: var(--buttons);
    color: #fff;
    border: 0;
    border-radius: 9px;
    cursor: pointer;
    font-family: inherit;
    font-size: 17px;
    cursor: pointer;
    border: 3px solid var(--borders);
}

.btn#rainbow {
    padding: 8px 20px;
}

.btn#reset {
    padding: 20px;
}