@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-header: #9d9dbd;
    --color-header-h1: #444488;
}

body {
    background-color: rgb(198, 191, 202);
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}

/* ------------------ header ------------------*/

header {
    background-color: var(--color-header);
    text-align: center;
    padding: 10px;
    top: 0;
    width: 100%;
    position: fixed;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-header-h1);
    font-size: 2.8rem;
    letter-spacing: 6px;
}

/* ------------------ footer ------------------*/

footer {
    background-color: var(--color-header);
    text-align: center;
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-header-h1);
    font-size: 0.9rem;
    font-weight: bold;
}

/* ------------------ container ------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.containers {
    border: thick solid wheat;
    border-radius: 20px;
}

.container-grid {
    background-color: aquamarine;
    width: 400px;
    height: 400px;
}

.container-menu {
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 100px;
    gap: 50px;
}